dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
*.jsexe
*.js_hi
*.js_o
*~
tags
TAGS
result
*.log
.DS_Store
*.hs
packages/*/default.nix

# Hide any files in hack-on/off quasi-submodules
# nixpkgs/*
# !nixpkgs/default.nix
# !nixpkgs/github.json
# pure/*
# !pure/github.json
# ef/*
# !ef/github.json
# ef-base/*
# !ef-base/github.json
# tlc/*
# !tlc/github.json
# trivial/*
# !trivial/github.json
# /dist-newstyle/
